@{
    ViewData["Title"] = "Home Page";
}

@model TripSearchModel

<div class="home-bg">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-3 mt-5 mb-3">@_localization.Getkey("Welcome").Value</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h6 class="display-6 fs-4">@_localization.Getkey("Easily compare and book your trip with Pegasus").Value</h6>
        </div>
    </div>

    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="row">
            <div class="col-md-3 p-0">
                <div class="input-group mt-5">
                    <label class="input-group-text" for="inputGroupSelect01">@_localization.Getkey("Origin").Value</label>

                    <select asp-for="Origin" class="form-select" id="inputGroupSelect01">
                        <option selected disabled hidden>@_localization.Getkey("From..").Value</option>
                        @foreach (var startingPoint in Model.StartingPoints)
                        {
                            <option value=@startingPoint>@startingPoint</option>
                        }
                    </select>
                </div>
                <strong><span asp-validation-for="Origin" class="text-danger ms-1"></span></strong>
            </div>

            <div class="col-md-3 ps-3 pe-0">
                <div class="input-group mt-5">
                    <label class="input-group-text" for="inputGroupSelect02">@_localization.Getkey("Destination").Value</label>
                    <select asp-for="Destination" class="form-select" id="inputGroupSelect02">
                        <option selected disabled hidden>@_localization.Getkey("To..").Value</option>
                        @foreach (var destination in Model.Destinations)
                        {
                            <option value=@destination>@destination</option>
                        }
                    </select>
                </div>
                <strong><span asp-validation-for="Destination" class="text-danger ms-1"></span></strong>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 p-0">
                <div class="input-group mt-5">
                    <span class="input-group-text" id="basic-addon1">@_localization.Getkey("Date").Value</span>
                    <input type="date" asp-for="Date" class="form-control" aria-describedby="basic-addon1">
                </div>
                <strong><span asp-validation-for="Date" class="text-danger ms-1"></span></strong>
            </div>

            <div class="col-md-3">
                <button type="submit" class="btn btn-sm btn-outline-secondary mt-5 fs-5">@_localization.Getkey("Search").Value</button>
            </div>
        </div>



    </form>
</div>